body {
    background-color: hsl(233, 47%, 7%);
    color: white;

    display: grid;
    grid-template-rows: 100px 200px;

    font-family: "Lexend Deca", sans-serif;
    font-size: 1px;
}

.parent {
    width: 10%;
}
.main {
    /* width: 100%; */
    border-radius: 6px;
}