body {
    background-color: hsl(233, 47%, 7%);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
}

img {
    float: right;
    width: 50%;
    /* height: 400px; */
}

/* .parent {
    width: 70vw;
    display: inline-block;
} */

.main {
    background-color: hsl(244, 38%, 16%);
    /* height: 400px; */
    width: 70vw;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    
}